<%- include ../header %>
<%- include nav %>
<div class="WB-main-c">
<div class="WB-feed WB-feed-v3">
  <%- include article %>
  <div class="S-bg2" style="padding: 0 0 10px 20px;" >
  <div class="reply-list" talkId="<%= talk._id %>" >
  <% if(talk.replys !== undefined){ %>
  <% var num = -1 %>
    <% talk.replys.forEach(function (reply, index) { %>
    <% num = num +1 %>
      <div class="reply" munber="<%= num %>"  >
        <div><a href="/u/<%= reply.From %>"><%= reply.replyFrom %> :</a>
        </div>
        <div class="reply-content"><%- reply.content %></div>
        <div>
          <span class="info"><%= reply.create_at %></span>
          <div class="reply-func">
          <ul class="clearfix" >
          <% if(user.name ==reply.replyFrom){ %>
            <li  style="float: left;border-right: 1px solid #9d9d9d;"><span class="remove"  ><a title="删除" href="/remove/t/<%= talk._id %>/<%= num%>" ><i class="icon-remove"></i></a></span></li>
          <% } %>
            <li style="float: left;border-right: 1px solid #9d9d9d;" >
              <span class="reply_to_btn"><a title="回复"><i class=" icon-reply"></i></a></span>
            </li>
              <li style="float: left;">
              <span class="up_btn" list="<%= num %>"><a title="点赞"><i class="icon-heart"></i><i class="like_count"><%= reply.ups && reply.ups.length ? reply.ups.length : '0' %></i></a></span></li>
          </ul>
          </div>
        </div>
      </div>
    <% }) %>
  <% } %>
  </div>
  <% if(user){ %>
  <div class="send-reply">
      <form method="post" action="/t/<%= talk._id %>">
        <span><%= user.name%>:</span>
        <textarea class="input" title="评论输入框" name="content" ></textarea>
        <input type="submit" class="btn"  value="回复" />
      </form>
      <% }else{ %>
      <a href="/login">需要评论，请登录</a>
    <% } %>
    </div>
  </div>
</div>
</div>
<script>
$(document).ready(function () {
  $('.remove').click(function delcfm() {
  if (!confirm("确认要删除？")) {
    window.event.returnValue = false;
    }
  });
  $('.up_btn').click(function (e) {
    var $this = $(this);
    var talkId = $('.reply-list').attr('talkId');
    var num = $this.attr('list');
    $.ajax({
      url: '/like/t/' + talkId + "/" + num ,
      method: 'POST',
    }).done(function (data) {
      if (data.success) {
        var currentCount = Number($this.find('.like_count').text().trim()) || 0;
        if (data.action === 'up') {
          $this.find('.like_count').text(currentCount + 1);
          $this.find("span").children().addClass('uped');
        } else {
          if (data.action === 'down') {
            $this.find('.like_count').text(currentCount - 1);
            $this.find("span").children().removeClass('uped');
          }
        }
      } else {
        alert(data.message);
      }
    }).fail(function (xhr) {
      if (xhr.status === 403) {
        alert('请先登录，登陆后即可点赞。');
      }
    });
  });
});
</script>
<%- include ../footer %>