<%- include ../header %>
<%- include nav %>
<div class="WB-main-c">
<div class="WB-feed WB-feed-v3">
<div id="reprint-post" style="border-top: 1px solid #ccc;padding:10px 0 20px 10px;">
  <form method="post" action="/reprint/t/<%= talk._id %>">
    <label>你想说点什么：</label>
    <textarea name="recomment" style="width:70%;line-height:100%;height:32px;text-align:vertical;padding:7px;" ></textarea>
    <input type="submit" class="btn" value="转发"></input>
  </form>
</div>
  <div class="S-bg2" >
      <div class="WB-feed-detail clearfix">
          <div class="WB-face W-fl">
              <div class="face">
              <a target="-blank" class="W-face-radius"  title="<%= talk.author %>">
              <img title="<%= talk.author %>" alt="" width="50" height="50" src="http://tva2.sinaimg.cn/crop.0.0.468.468.50/006iTBNyjw1f2tpjlxwknj30d20d4q3o.jpg" class="W-face-radius"></a>
              </div>
          </div>
          <div class="WB-detail">
              <div class="WB-info">
                  <a  class="W-f14 W-fb S-txt1"><%= talk.author %></a>
                  <a ><i title="微博个人认证 " class="W-icon icon-approve"></i></a>           
              </div>
              <div class="WB-from S-txt2">
                  <span  class="S-txt2" ><%= talk.create_time%></span> 来自 <a class="S-txt2" target="-blank">从厕所捡的iPhone 6</a>            
              </div>
              <div class="WB-text W-f14">
              <% if (talk.reprint_info.reprint_from && talk.reprint_info.recomment) { %>
              <%= talk.reprint_info.recomment %>
              <% } else{ %>
              <%= talk.content %>
              <% } %>
              </div>
              <% if (talk.reprint_info.reprint_from) { %>
              <div class="WB-feed-expand">
                  <div class="W-arrow-bor W-arrow-bor-t"><i class="S-bg1-br"></i></div>
                  <div class="WB-expand S-bg1" node-type="feed-list-forwardContent">
                      <div class="WB-info">
                      <a target="-blank" title="疗伤处女座" >@<%= talk.reprint_info.reprint_from.author %></a>
                      </div>
                      <div class="WB-text"><%= talk.reprint_info.reprint_from.content %></div>
                      <div class="WB-media-wrap clearfix">
                          <div class="media-box">
                          <ul class="WB-media-a  WB-media-a-m1 clearfix">
                              <li class="WB-pic li-1 S-bg1 S-line2 bigcursor " >
                                  <img src="http://ww3.sinaimg.cn/orj480/8f27fd0ejw1e47lac1a7cj20c8084dgi.jpg">
                                  <i class="W-loading" style="display:none;"></i>
                              </li>
                          </ul>
                          </div>
                      </div>
                      <div class="WB-func clearfix">
                          <div class="WB-handle W-fr" >
                              <ul class="clearfix">
                                  <li><span class="line S-line1"><a class="S-txt2"><em>12148</em></a></span></li>
                                  <li><span class="line S-line1"><a class="S-txt2"><em>542</em></a></span></li>
                                  <li><span class="line S-line1"><a class="S-txt2"><em>365</em></a></span></li>
                              </ul>
                          </div>
                          <div class="WB-from S-txt2">
                              <a class="S-txt2"><%= talk.reprint_info.reprint_from.time %></a> 来自 <a class="S-txt2">皮皮时光机</a>
                          </div>
                      </div>
                  </div>
              </div>
              <% } %>
          </div>
      </div>
      <div class="WB-feed-handle">
              <div class="WB-handle">
                  <ul class="WB-row-line clearfix S-line2">
                      <li>
                      <a class="S-txt2" title="阅读"><span class="line S-line1"><i class="icon-eye-open icon-large"> </i><%= talk.pv %></span></a>
                      </li>
                      <li>
                          <a class="S-txt2" href="/reprint/t/<%= talk._id%>"  title="转发"><span class="line S-line1"><i class="icon-share icon-large"></i>
                          <% if (talk.reprint_info && talk.reprint_info.reprint_to) { %>
                          <%= talk.reprint_info.reprint_to.length %>
                          <% } else { %>
                          <%= 0 %>
                          <% } %>
                          </span></a>
                      </li>
                      <li>
                          <a class="S-txt2" href="/t/<%=talk._id%>" title="评论"><span class="line S-line1">
                          <i class="icon-bullhorn icon-large"></i>
                           <% if (talk.replys) { %>
                          <%= talk.replys.length %>
                          <% } else { %>
                          <%= 0 %>
                          <% } %>
                          </span></a>
                          <span class="arrow"><span class="W-arrow-bor W-arrow-bor-t"><em class="S-bg1-br"></em></span></span>
                      </li>
                      <li>
                      <a class="S-txt2" title="亮心"><span id="like-btn" talkId="<%= talk._id %>" class="line S-line1">
                      <% if (talk.likes) { %>
                        <% if(user && talk.likes.indexOf(user.name) != -1){ %>
                          <i class="icon-heart icon-large uped" ></i>
                          <i class="like-count">
                          <%= talk.likes && talk.likes.length ? talk.likes.length : '0' %>
                          </i>
                        <% } else{ %>
                          <i class=" icon-heart-empty icon-large"></i>
                          <i class="like-count"><%= talk.likes && talk.likes.length ? talk.likes.length : '0' %></i>
                        <% }} %></span></a>
                      </li>
                  </ul>
              </div>               
      </div>
  </div>

</div>
</div>
<%- include ../footer %>


