<%- include ../header %>
<%- include nav %>
    <div class="WB-main-c">
        <div class="WB-feed">
	<%- include edit %>
        <% talks.forEach(function (talk, index) { %>
			<%- include article %>
        <% }) %>
        </div>
        <%- include ../paging%>
    </div>
    <div class="WB-main-r" fixed-box="true"></div>
<%- include ../footer %>