<%- include ../header %>
<%- include ../talk/nav %>
<div class="WB-main-c S-bg2">
	<div class="search-result">
		<ul class="archive">
		<% var lastYear = 0 %>
		<%if (users[0]){%>
		<li>你要找的是不是：</li>
		<% users.forEach(function (user, index) { %>
			<li><a href="/u/<%= user.name %>"><%= user.name %></a></li>
		<% }) %>
		<%} else{%>
			<li>抱歉 你要找的用户不存在!</li>
		<% } %>
		</ul>
	</div>
</div>
<%- include ../footer %>